<form [formGroup]="postForm" (submit)="updatePost()">
    <div class="card" *ngIf="preview">
        <markdown>{{ postForm.value.content }}</markdown>
    </div>
    <div class="{{ preview ? 'hidden' : 'controls' }}">
        <!--<ImageUploader />-->

        <textarea formControlName="content" name="content"></textarea>

        <!-- TODO: much cleaner ways to do this -->
        <ng-container *ngIf="content!.errors">
            <p class="text-danger">
                <ng-container *ngIf="content!.hasError('required')">
                    content is required
                </ng-container>
                <ng-container *ngIf="content!.hasError('minlength')">
                    content is too short
                </ng-container>
                <ng-container *ngIf="content!.hasError('maxlength')">
                    content is too long
                </ng-container>
            </p>
        </ng-container>

        <fieldset>
            <input formControlName="published" class="checkbox" name="published" type="checkbox" ref={register} />
            <label>Published</label>
        </fieldset>

        <button type="submit" class="btn-green" [disabled]="postForm.invalid || !postForm.dirty">
            Save Changes
        </button>
    </div>
</form>