<form (submit)="updatePost()">
    <ng-container *ngIf="preview">
        <div class="card">
            <markdown>{{ postForm.value.content }}</markdown>
        </div>
    </ng-container>

    <div class="{{ preview ? 'hidden' : 'controls' }}">
        <!--<ImageUploader />-->

        <textarea name="content"></textarea>

        <!--<ng-container *ngIf="errors.content">
            <p class="text-danger">{{ errors.content.message }}</p>
        </ng-container>-->

        <fieldset>
            <input class="checkbox" name="published" type="checkbox" ref={register} />
            <label>Published</label>
        </fieldset>

        <!--<button type="submit" className="btn-green" disabled={{!isDirty || !isValid}}>
            Save Changes
        </button>-->
    </div>
</form>