<main *ngIf="post" class="container">
    <section>
        <div class="card">
            <h1>{{ post.title }}</h1>
            <span class="text-sm">
                Written by
                <a [routerLink]="post.username" class="text-info">{{ post.username }}</a>
                on {{ post.createdAt?.toISOString() }}
            </span>
            <markdown [data]="post.content" ngPreserveWhitespaces></markdown>
        </div>
    </section>
    <aside class="card">
        <p>
            <strong>{{ post.heartCount || 0 }} 🤍</strong>
        </p>
        <app-auth-check>
            <app-heart-button *ngIf="us.user" [postRef]="postRef" [user]="us.user"></app-heart-button>
        </app-auth-check>
        <ng-container *ngIf="us.user?.uid === post?.uid">
            <button [routerLink]="['/admin', post.slug]" class="btn-blue">Edit Post</button>
        </ng-container>
    </aside>
</main>